practicising.exe
file.txt
ReadsInput.exe
TakesInput.exe
understandingConstructor.exe
DS.exe
floor.exe
practicising.exe
/SETS
/Sets-union--intersection--difference--power-set---Cartesian-product--complement-of-a-set